<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buiderdream.apehire"
    android:installLocation="preferExternal">

    <!-- 判断网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activitys.MainActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".view.activitys.LoginActivity" />
        <activity android:name=".view.activitys.RegisterActivity" />
        <activity android:name=".view.activitys.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activitys.GuideActivity" />
        <activity android:name=".view.activitys.CompanyInfoActivity" />
        <activity android:name=".view.activitys.JobActivity" />
        <activity android:name=".view.activitys.RegisterCompanyActivity" />
        <activity android:name=".view.activitys.ReleaseJobActivity" />
        <activity android:name=".view.activitys.UserEditActivity" />
        <activity android:name=".view.activitys.BossEditActivity" />
        <activity android:name=".view.activitys.InputInfoActivity"></activity>
    </application>

</manifest>